@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900;
}

/* Scrollbar refinement for sidebar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}